
.btn-control-left {
    margin-bottom: 0;
    width: 89%;   
}

.btn-control-right {
    margin-bottom: 0;
    width: 89%;   
}

.col-left {
    width: 50%;
    text-align:center;
}

.col-right {
    width: 50%;
}

.row-top{
    height:40px;
}

.row-bottom {
    overflow-y:auto;
    /*overflow:auto;*/
}



